<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book With Us!</title>
</head>
<body>
    <h1>Booking Inquiry Form</h1>
    <form action="/booking" method="POST"> <!-- Ensure the action is correct -->
        <div>
            <label for="username">Username: </label>
            <input type="text" id="username" name="username"/>
        </div>
        <div>
            <label for="name">Name: </label>
            <input type="text" id="name" name="name"/>
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="email" id="email" name="email" />
        </div>
        <div>
            <label for="phoneNum">Phone Number: </label>
            <input type="text" id="phoneNum" name="phoneNum"/>
        </div>
        <div>
            <label for="eventOccasion">What is the occasion for your event? </label>
            <input type="text" id="eventOccasion" name="eventOccasion"/>
        </div>
        <div>
            <label>What are the services you are requesting?</label><br/>
            <input type="radio" id="backdrop-setup" name="services" value="Backdrop Setup">
            <label for="backdrop-setup">Backdrop Setup</label><br/>
            <input type="radio" id="proposal-setup" name="services" value="Proposal Setup">
            <label for="proposal-setup">Proposal Setup</label><br/>
            <input type="radio" id="luxury-picnic" name="services" value="Luxury Picnic Setup">
            <label for="luxury-picnic">Luxury Picnic Setup</label><br/>
            <input type="radio" id="event-decorator" name="services" value="Overall Event Decorator">
            <label for="event-decorator">Overall Event Decorator (backdrop setup, table decor, dessert table setup, lighting, accents, etc.)</label><br/>
        </div>
        <div>
            <label for="numPeople">Number of People: </label>
            <input type="number" id="numPeople" name="numPeople"/>
        </div>
        <div>
            <label for="eventDate">Date of Event: </label>
            <input type="date" id="eventDate" name="eventDate"/>
        </div>
        <div>
            <label for="startTime">Start Time:</label>
            <input type="time" id="startTime" name="startTime"/>
            <label for="endTime"> End Time:</label>
            <input type="time" id="endTime" name="endTime"/>
        </div>
        <div>
            <label for="location">What location will your event take place? (Type N/A if it hasn't been decided yet)</label>
            <input type="text" id="location" name="location"/>
        </div>
        <div>
            <label for="message">Anything else you'd like us to know?</label>
            <textarea id="message" name="message"></textarea>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>

